@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https//fonts.googleapis.com/css?family=Open+Sans';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
body{
    background: url(../Imagenes/fondo.jpg);
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans',sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Yanone Kaffeesatz',sans-serif;
    letter-spacing: 1.5px;
}
.header{
    height: 60px;
}
.header .contenedor{
    display: flex;
    justify-content: space-between;
}
.logo,.icon-menu{
    margin:5px;
    color: #008080;
}
.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #008080;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-left: auto;
    cursor:pointer;
}
.icon-menu:hover{
    background: #D3D3D3;
    color: #fff;
}
.nav{
    position: absolute;
    top:60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-link{
    display: block;
    padding: 20px;
    background: #A9A9A9;
    text-decoration: none;
    color: #fff;
}
.menu-link:hover{
    background: #D3D3D3;
    color: #fff;
}
.mostrar{
    left: 0;
}
.banner .contenedor{
    margin-top: 430px;
    width: 100%;
    color: #008080;
    text-align: center;
}
.icon-menudesc:hover{
    background: #D3D3D3;
    color: #fff;
}
