*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-image: url(../Imagenes/B0.jpg);
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: monospace;
}
form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,.7);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 100px;
    border-radius: 20px;
}
h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input,textarea,select{
    outline: none;
    background: rgba(0,0,0,.5);
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all .5s ease;
}
input:focus,textarea:focus,select:focus{
    border-bottom: 4px solid #0075d9;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}
input[type="submit"]{
    background: #ff851b;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
}
input[type="submit"]:hover{
    background: rgba(0,117,217,.7);
}
