<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="dao.mybatis.mappers.MonitoriaMapper">
      <resultMap type='Asignatura' id='AsignaturaResult'>
         <id property='id' column='id_Asignatura'/>
         <result property='nombre' column='nombe_Asig'/>
         <collection property='temas' ofType='Tema' resultMap='temaResult'></collection>
         <collection property='grupos' ofType='Grupo' resultMap='grupoResult'></collection>
     </resultMap>
     <resultMap type='Grupo' id='grupoResult'>
        <id property='numero' column='numero'/>
        <collection property='franjas' ofType='Franja' resultMap='franjaResult'></collection>
     </resultMap>
     <resultMap type='Monitor' id='monitorResult'>
         <id property='id' column='id_Carnet'/>
         <result property='nombre' column='nombre_Moni'/>
         <result property='apellido' column='apellido_Moni'/>
         <result property='ingreso' column='semestre_ingreso'/>
         <result property='telefono' column='telefono'/>
         <result property='carrera' column='carrera'/>
         <collection property='franjas' ofType='Franja' resultMap='franjaResult'></collection>
     </resultMap>
      <resultMap type='Franja' id='franjaResult'>
        <id property='id' column='id_Franja_Horario'/>
        <result property='dia' column='dia' />
        <result property='inicio' column='inicio' />
        <result property='fin' column='fin' />
         <collection property='monitorias' ofType='Monitoria' resultMap='monitoriaResult'></collection>
     </resultMap>
     <resultMap type='Tema' id='temaResult'>
         <id property='id' column='TemaID'/>
         <result property='name' column='name'/>
     </resultMap>
    <resultMap type= 'Monitoria' id='monitoriaResult'>
        <id property='id' column='id_Mon'/>
        <result property='ip' column='ip' />
        <result property='observaciones' column='observaciones' />
        <result property='fecha' column='fecha'/>
        <result property='grupo' column='id_asignatura'/>
        <result property='profesor' column='profesor'/>
        <result property='idC' column='estudiante_id_carnet'/>
     </resultMap>
     <select parameterType='map' id='loadMonitoria' resultMap='monitoriaResult'>
        SELECT * FROM Monitoria,Tema,Asistencia,Franja_Horario
        WHERE id_Mon=#{idmo} and Tema.TemaID=Asistencia.TemaID and Franja_id=id_Franja and id_Mon=Asistencia.monitoriaid
     </select> 
     <insert id='agregarMonitoria'>
         insert into Monitoria
         values(#{mon.id},#{mon.ip},#{mon.observaciones},#{mon.franjaHorario.id},#{mon.fecha},#{mon.profesor},#{mon.idC},#{mon.grupo})
     </insert>
     <insert id='agregarMoni'>
         insert into Asistencia 
         values(#{id},#{asig},#{tem})
     </insert>
 </mapper>
