<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="dao.MonitoriaDao">
    <resultMap type= 'Monitoria' id='monitoriaResult'>
        <id property='id' column='id_Mon'/>
        <result property='ip' column='ip' />
        <result property='observaciones' column='observaciones' />
        <result property='fecha' column='fecha' />
        <association property='franja' javaType='FranjaId' resultmap='franjaResult'/>
        <id property='id_carnet' column='id_carnet'/>
        <id property='grupo' column='grupo'/>
     </resultMap>
     <resultMap type='Tema' id='temaResult'>
         <id property='id' column='TemaID'/>
         <result poperty='name' column='name'/>
         <association properti='asignatura' javaType='Asignatura' resultmap='AsignaturaReslut'/>
     </resultMap>
     <resultMap type= 'Franja_Horaio' id='franjaResult'>
        <id property='id' column='id_Franja_Horario'/>
        <result property='fecha' column='fecha' />
        <association property='monitor' javaType='Monitor' resultmap='monitorResult'/>
        <association property='grupo' javaType='Grupo' resultmap='grupoResult'/>
     </resultMap>
     <resultMap type='Grupo' id='grupoResult'>
        <id property='numero' column='numero'/>
        <id property='asignatura' column='Asignatura_id_Asignatura'/>
     </resultMap>
     <resultMap type='Asignatura' id='AsignaturaResult'>
         <id property='id' column='id_Asignatura'/>
         <result property='nombre' column='nombe_Asig'/>
     </resultMap>
     <select parameterType='map' id='ConsultarMonitoria' resultMap='monitoriaResult'>
        select id_Monitoria, ip,observaciones,Monitoria.fecha,fecha,id_carnet,TemaID,nombre_Asig,numero,nombre_Moni
        from Monitoria,Asistencia,Tema,Monitor,Franja_Horario,grupo,Asignatura
        where id_monitoria=#{idmo} and id_Carnet=Estudiante_id_Carnet and Monitoria_id_Monitoria=id_Monitoria and TemaID=Tema_TemaID and Franja_id=id_franja and id_carnet=Monitor_id_Carnet and Tema.Asignatura_id_Asignatura = id_Asignatura and numero = Grupo_numero and Grupo.Asignatura_id_Asignatura =  Grupo_Asignatura_id_Asignatura
     </select> 
     <insert id='agregarMonitoria'>
         insert into Monitoria(ip,observaciones,Fanja_id,fecha,id_carnet,grupo)
         values(#{ip},#{obsv},13,#{fec},#{id},#{grup})
         insert into Asistencia 
         values(SELECT max(id_Mon) FROM monitoria,#{tem})
     </insert>
 </mapper>
