<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="edu.eci.pdsw.dao.mybatis.mappers.MonitoriaMapper">
      <resultMap type='Asignatura' id='AsignaturaResult'>
         <id property='id' column='id_Asignatura'/>
         <result property='nombre' column='nombre_Asig'/>
     </resultMap>
     <resultMap type='Grupo' id='grupoResult'>
        <id property='numero' column='numero'/>
        <result property='matriculados' column='matriculados'/>
     </resultMap>
     <resultMap type='Monitor' id='monitorResult'>
         <id property='id' column='id_Carnet'/>
         <result property='nombre' column='nombre_Moni'/>
         <result property='apellido' column='apellido_Moni'/>
         <result property='ingreso' column='semestre_ingreso'/>
         <result property='telefono' column='telefono'/>
         <result property='carrera' column='carrera'/>
     </resultMap>
      <resultMap type='Franja' id='franjaResult'>
        <id property='id' column='monitor_id_carnet'/>
        <result property='dia' column='dia' />
        <result property='inicio' column='inicio' />
        <result property='fin' column='fin' />
        <association property='monitor' javaType='Monitor'  resultMap='monitorResult'/>
     </resultMap>
     <resultMap type='Tema' id='temaResult'>
         <id property='id' column='TemaID'/>
         <result property='name' column='nombre'/>
         <association property='asignatura' javaType='Asignatura' resultMap='AsignaturaResult'/>
     </resultMap>
    <resultMap type= 'Monitoria' id='monitoriaResult'>
        <id property='idC' column='estudiante_id_carnet'/>
        <id property='fecha' column='fecha'/>
        <result property='ip' column='ip' />
        <result property='observaciones' column='observaciones' />
        <result property='grupo' column='grupo'/>
        <result property='profesor' column='profesor'/>
        <result property= 'monitor' column='monitor_id_carnet'/>
        <result property='asignatura' column='id_asignatura'/>
        <association property='franjaHorario' javaType='Franja' resultMap='franjaResult'/>
        <association property='tema' javaType='Tema' resultMap='temaResult'/>
     </resultMap>
     <select parameterType='map' id='loadMonitoria' resultMap='monitoriaResult'>
        SELECT * FROM Monitoria,Tema,Franja_Horario,Monitor
        WHERE Monitoria.monitor_id_carnet=#{idmo} and monitoria.temaid=Tema.temaid and monitor.id_Carnet=Franja_Horario.monitor_id_carnet
     </select>
     <select parameterType='map' id='loadFranja' resultMap='franjaResult'>
        SELECT * from Monitor
        WHERE id_Carnet=#{idmon}
     </select> 
     <select parameterType='map' id='consultarInformacion' resultMap='monitoriaResult'>
         SELECT * from Franja_Horario,Monitoria,Grupo,Monitor
         where #{idpro}=Monitoria.monitor_id_carnet and Franja_Horario.monitor_id_carnet=#{idpro} and Grupo.numero=Grupo_numero and asignatura_id_asignatura=Grupo_asignatura_id_asignatura and monitor.id_Carnet=Franja_Horario.monitor_id_carnet --> 
     </select>
     <select parameterType='map' id='consultarMonitoriasMon' resultMap='monitoriaResult'>
        SELECT * from Monitoria
        WHERE monitor_id_Carnet=#{idmon}
     </select> 
     <insert id='agregarMonitoria'>
         insert into Monitoria(ip,observaciones,monitor_id_carnet,fecha,profesor,estudiante_id_carnet,grupo,id_asignatura,temaid)
         values(#{mon.ip},#{mon.observaciones},#{mon.monitor},#{mon.fecha},#{mon.profesor},#{mon.idC},#{mon.grupo},#{mon.asignatura},#{mon.tema.id})
     </insert>
     <insert id='agregarMoni'>
         insert into Asistencia 
         values(#{id},#{asig},#{tem})
     </insert>
 </mapper>
