<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="edu.eci.pdsw.dao.mybatis.mappers.ProfesorMapper">
     <resultMap type='Estudiante' id='estudianteResult'>
         <id property='carnet' column='nombre_es'/>
         <result property='nombre' column='nombre_es'/>
         <result property='apellido' column='apellido_es'/>
     </resultMap>
     <resultMap type='Asignatura' id='AsignaturaResult'>
         <id property='id' column='id_Asignatura'/>
         <result property='nombre' column='nombe_Asig'/>
     </resultMap>
     <resultMap type='Grupo' id='grupoResult'>
        <id property='numero' column='numero'/>
        <result property='matriculados' column='matriculados'/>
     </resultMap>
     <resultMap type='Monitor' id='monitorResult'>
         <id property='id' column='id_Carnet'/>
         <result property='nombre' column='nombre_Moni'/>
         <result property='apellido' column='apellido_Moni'/>
         <result property='ingreso' column='semestre_ingreso'/>
         <result property='telefono' column='telefono'/>
         <result property='carrera' column='carrera'/>
     </resultMap>
     <resultMap type='Franja' id='franjaResult'>
        <id property='id' column='monitor_id_carnet'/>
        <result property='dia' column='dia' />
        <result property='inicio' column='inicio' />
        <result property='fin' column='fin' />
        <association property='monitor' javaType='Monitor'  resultMap='monitorResult'/>
     </resultMap>
     <resultMap type='Observacion' id='observacionResult'>
         <id property='id' column='idobs'/>
         <result property='estudiante' column='id_car'/>
         <result property='observacion' column='observacion'/>
         <association property='monitor' javaType='Monitor' resultMap='monitorResult'/>
     </resultMap>
      <resultMap type='Tema' id='temaResult'>
         <id property='id' column='TemaID'/>
         <result property='name' column='nombre'/>
     </resultMap>
     <resultMap type= 'Monitoria' id='monitoriaResult'>
        <id property='idC' column='estudiante_id_carnet'/>
        <id property='fecha' column='fecha'/>
        <result property='ip' column='ip' />
        <result property='observaciones' column='observaciones' />
        <result property='grupo' column='grupo'/>
        <result property='profesor' column='profesor'/>
        <result property='asignatura' column='asignatura_id'/>
        <association property='franjaHorario' javaType='Franja' resultMap='franjaResult'/>
        <association property='tema' javaType='Tema' resultMap='temaResult'/>
     </resultMap>
     <select parameterType='map' id='consultarTotalMonitorias' resultMap='monitoriaResult'>
         select * From Monitoria,Franja_Horario,Grupo,Monitor
         WHERE #{idpro}=Profesor_id_Carnet and #{idasi}=Grupo_Asignatura_id_Asignatura and  monitor.id_Carnet=Franja_Horario.monitor_id_carnet 
     </select>
     <select parameterType='map' id='consultarMonitorias' resultMap='monitoriaResult'>
         SELECT* FROM Monitoria,Franja_Horario,Grupo,Monitor
         WHERE Asignatura_id_Asignatura=#{idasi} and  monitor.id_Carnet=Franja_Horario.monitor_id_carnet 
     </select>
     <select parameterType='map' id='consultarCursos' resultMap='grupoResult'>
         select * FROM Grupo
         WHERE #{idpro}=Profesor_id_Carnet and #{idasi}=Asignatura_id_Asignatura
     </select>
     <select  parameterType='map' id='consulatarEstudiatesCursos' resultMap='grupoResult'>
         SELECT * FROM Grupo 
         WHERE numero=#{idgrupo} and Asignatura_id_Asignatura=#{idasi}
     </select>
     <select parameterType='map' id='consultarMonitoriasCursos' resultMap='monitoriaResult'>
         SELECT * FROM Monitoria,Franja_Horario,Grupo
         Where  #{idpro}=Profesor_id_Carnet and  numero=#{idgrupo} and Asignatura_id_Asignatura=#{idasi} 
     </select>
     <select parameterType='map' id='consultarEstudiantesGrupo' resultMap='monitoriaResult'>
         SELECT * FROM Monitoria,Franja_Horario,Grupo,Monitor
         Where  #{idpro}=Profesor_id_Carnet and  Asignatura_id_Asignatura=#{idasi} and numero=Grupo_numero and Grupo_Asignatura_id_Asignatura=Asignatura_id_Asignatura  and numero=#{idgrupo} and numero=Monitoria.grupo and  monitor.id_Carnet=Franja_Horario.monitor_id_carnet
     </select>
     <select parameterType='map' id='consultarTotalGrupo' resultMap='monitoriaResult'>
         SELECT * FROM Monitoria,Franja_Horario,Grupo
         Where  #{idpro}=Profesor_id_Carnet and  Asignatura_id_Asignatura=#{idasi} and numero=Grupo_numero and Grupo_Asignatura_id_Asignatura=Asignatura_id_Asignatura 
     </select>
     <select parameterType='map' id='consultarTema' resultMap='temaResult'>
         select * FROM Tema
         WHERE #{idasi}=Asignatura_id_Asignatura
     </select>
     <select parameterType='map' id='consultarTemaMonitoria' resultMap='monitoriaResult'>
         SELECT * FROM Monitoria,Franja_Horario,Grupo,Monitor
         Where  #{idpro}=Profesor_id_Carnet and  Asignatura_id_Asignatura=#{idasi} and numero=Grupo_numero and Grupo_Asignatura_id_Asignatura=Asignatura_id_Asignatura  and Temaid=#{idtema} and monitor.id_Carnet=Franja_Horario.monitor_id_carnet 
     </select>
 </mapper>