<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="edu.eci.pdsw.dao.mybatis.mappers.ProfesorMapper">
     <resultMap type='Estudiante' id='estudianteResult'>
         <id property='carnet' column='nombre_es'/>
         <result property='nombre' column='nombre_es'/>
         <result property='apellido' column='apellido_es'/>
         <collection property='monitorias' ofType='Monitoria' resultMap='monitoriaResult' ></collection>
     </resultMap>
     <resultMap type='Asignatura' id='AsignaturaResult'>
         <id property='id' column='id_Asignatura'/>
         <result property='nombre' column='nombe_Asig'/>
         <collection property='temas' ofType='Tema' resultMap='temaResult'></collection>
         <collection property='grupos' ofType='Grupo' resultMap='grupoResult'></collection>
     </resultMap>
     <resultMap type='Grupo' id='grupoResult'>
        <id property='numero' column='numero'/>
        <collection property='franjas' ofType='Franja' resultMap='franjaResult'></collection>
     </resultMap>
     <resultMap type='Monitor' id='monitorResult'>
         <id property='id' column='id_Carnet'/>
         <result property='nombre' column='nombre_Moni'/>
         <result property='apellido' column='apellido_Moni'/>
         <result property='ingreso' column='semestre_ingreso'/>
         <result property='telefono' column='telefono'/>
         <result property='carrera' column='carrera'/>
         <collection property='franjas' ofType='Franja' resultMap='franjaResult'></collection>
     </resultMap>
       <resultMap type='Franja' id='franjaResult'>
        <id property='id' column='id_Franja'/>
        <result property='dia' column='dia' />
        <result property='inicio' column='inicio' />
        <result property='fin' column='fin' />
        <association property='monitor' javaType='Monitor' resultMap='monitorResult'/>
     </resultMap>
     <resultMap type='Observacion' id='observacionResult'>
         <id property='id' column='idobs'/>
         <result property='estudiante' column='id_car'/>
         <result property='observacion' column='observacion'/>
         <association property='monitor' javaType='Monitor' resultMap='monitorResult'/>
     </resultMap>
      <resultMap type='Tema' id='temaResult'>
         <id property='id' column='TemaID'/>
         <result property='name' column='name'/>
     </resultMap>
     <resultMap type= 'Monitoria' id='monitoriaResult'>
        <id property='id' column='id_Mon'/>
        <result property='ip' column='ip' />
        <result property='observaciones' column='observaciones' />
        <result property='fecha' column='fecha'/>
        <result property='grupo' column='id_asignatura'/>
        <result property='profesor' column='profesor'/>
        <result property='idC' column='estudiante_id_carnet'/>
        <association property='franjaHorario' javaType='Franja' resultMap='franjaResult'/>
        <association property='tema' javaType='Tema' resultMap='temaResult'/>
     </resultMap>>
     <select id='consultarGrupos'>
         select observaciones,fecha,id_carnet,grupo 
         from Monitoria, Franja_Horaio, Grupo, Profesor
         where #{id}=Profesor_id_Carnet and Franja_id=id_franja and numero = Grupo_numero and Grupo.Asignatura_id_Asignatura =  Grupo_Asignatura_id_Asignatura
     </select>
     <select id='consularInfoMonitoria'>
         select Monitoria.estudiante_id_carnet
         from Monitoria,Tema,Asistencia
         where #{id}=Monitoria.id_Mon and Monitoria.id_Mon=Asistencia.Monitoria_id_Monitoria and Tema_TemaID=tema.TemaID
     </select>
     <select id='consultarEstudiantes'>
         SELECT count(*)/(SELECT COUNT(*) FROM Monitoria) FROM Monitoria
         WHERE id_asignatura=#{grup}
     </select>
 </mapper>