<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="edu.eci.pdsw.dao.mybatis.mappers.SemestreMapper">
     <resultMap type='Asignatura' id='AsignaturaResult'>
         <id property='id' column='id_Asignatura'/>
         <result property='nombre' column='nombe_Asig'/>
         <collection property='temas' ofType='Tema' resultMap='temaResult'></collection>
         <collection property='grupos' ofType='Grupo' resultMap='grupoResult'></collection>
     </resultMap>
     <resultMap type='Grupo' id='grupoResult'>
        <id property='numero' column='numero'/>
        <collection property='franjas' ofType='Franja' resultMap='franjaResult'></collection>
     </resultMap>
     <resultMap type='Monitor' id='monitorResult'>
         <id property='id' column='id_Carnet'/>
         <result property='nombre' column='nombre_Moni'/>
         <result property='apellido' column='apellido_Moni'/>
         <result property='ingreso' column='semestre_ingreso'/>
         <result property='telefono' column='telefono'/>
         <result property='carrera' column='carrera'/>
         <collection property='franjas' ofType='Franja' resultMap='franjaResult'></collection>
     </resultMap>
      <resultMap type='Franja' id='franjaResult'>
        <id property='id' column='id_Franja_Horario'/>
        <result property='dia' column='dia' />
        <result property='inicio' column='inicio' />
        <result property='fin' column='fin' />
     </resultMap>
     <resultMap type='Observacion' id='observacionResult'>
         <id property='id' column='idobs'/>
         <result property='estudiante' column='id_car'/>
         <result property='observacion' column='observacion'/>
         <association property='monitor' javaType='Monitor' resultMap='monitorResult'/>
     </resultMap>
      <resultMap type='Tema' id='temaResult'>
         <id property='id' column='TemaID'/>
         <result property='name' column='name'/>
     </resultMap>
     <resultMap type= 'Monitoria' id='monitoriaResult'>
        <id property='id' column='id_Mon'/>
        <result property='ip' column='ip' />
        <result property='observaciones' column='observaciones' />
        <result property='fecha' column='fecha'/>
        <result property='grupo' column='id_asignatura'/>
        <result property='profesor' column='profesor'/>
        <result property='idC' column='estudiante_id_carnet'/>
     </resultMap>
     <resultMap type='Semestre' id='semestreResult'>
         <id property='periodo' column='periodo_Academico'/>
         <result  property='inicio' column='fecha_Inicio'/>
         <result  property='fin' column='fecha_Fin'/>
         <collection property='grupos' ofType='Grupo' resultMap='grupoResult'></collection>
     </resultMap>
     <resultMap type='Profesor' id='profesorResult'>
         <id property ='id' column='id_Carnet'/>
         <result property='nombre' column='nombre_Prof'/>
         <result property='apellido' column='apellido_Prof'/>
         <result property='telefono' column='telefono'/>
         <result property='correo' column='correo'/>
         <collection property='grupos' ofType='Grupo' resultMap='grupoResult'></collection>
     </resultMap>
     <resultMap type='Estudiante' id='estudianteResult'>
         <id property='carnet' column='nombre_es'/>
         <result property='nombre' column='nombre_es'/>
         <result property='apellido' column='apellido_es'/>
         <collection property='monitorias' ofType='Monitoria' resultMap='monitoriaResult' ></collection>
     </resultMap>
     <select parameterType='map' id='Consultarsemestre' resultMap='semestreResult'>
         select *
         FROM Semestre,Grupo
         WHERE #{id}=periodo_Academico and Semestre_periodo_Academico=periodo_Academico
     </select>
     <insert id='agregarSemestre'>
         insert into Semestre
         values (#{sem.periodo},#{sem.inicio},#{sem.fin})
     </insert>
     <insert id='agregarAsignatura'>
         insert into Asignatura
         values (#{asig.id},#{asig.nombre})
     </insert>
     <insert id='agregarGrupo'>
         insert into Grupo
         values (#{gru.semestre.periodo},#{gru.asignatura.id},#{gru.profesor.id},#{gru.numero})
     </insert>
     <insert id='agregarProfesor'>
         insert into Profesor 
         Values(#{pro.id},#{pro.nombre},#{pro.apellido},#{pro.telefono},#{pro.correo})
     </insert>
     <insert id='agregarMonitor'>
         insert into Monitor 
         Values(#{monr.id},#{monr.nombre},#{monr.apellido},#{monr.ingreso},#{monr.telefono},#{monr.carrera})
     </insert>
     <insert id='agregarFranja'>
         insert into Franja_Horario
         values(#{fra.id},#{fra.monitor.id},#{fra.asignatura.id},#{fra.grupo.numero},#{fra.dia},#{fra.inicio},#{fra.fin})
     </insert>
     <insert id='agregarTema'>
         insert into Tema
         values(#{tem.name},#{tem.asignatura.id},#{tem.id})
     </insert>
     <insert id='agregarEstudiante'>
         insert into Estudiante
         values (#{estu.carnet},#{estu.nombre},#{estu.apellido})
     </insert>
 </mapper>