<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="edu.eci.pdsw.dao.mybatis.mappers.SemestreMapper">
     <resultMap type='Asignatura' id='AsignaturaResult'>
         <id property='id' column='id_Asignatura'/>
         <result property='nombre' column='nombre_Asig'/>
     </resultMap>
     <resultMap type='Grupo' id='grupoResult'>
        <id property='numero' column='numero'/>
        <result property='matriculados' column='matriculados'/>
        <association property='semestre' javaType='Semestre' resultMap='semestreResult'/>
     </resultMap>
     <resultMap type='Monitor' id='monitorResult'>
         <id property='id' column='id_Carnet'/>
         <result property='nombre' column='nombre_Moni'/>
         <result property='apellido' column='apellido_Moni'/>
         <result property='ingreso' column='semestre_ingreso'/>
         <result property='telefono' column='telefono'/>
         <result property='carrera' column='carrera'/>
     </resultMap>
      <resultMap type='Franja' id='franjaResult'>
        <id property='id' column='monitor_id_carnet'/>
        <result property='dia' column='dia' />
        <result property='inicio' column='inicio' />
        <result property='fin' column='fin' />
        <association property='Monitor' javaType='Monitor'  resultMap='monitorResult'/>
     </resultMap>
     <resultMap type='Observacion' id='observacionResult'>
         <id property='id' column='idobs'/>
         <result property='estudiante' column='id_car'/>
         <result property='observacion' column='observacion'/>
         <association property='monitor' javaType='Monitor' resultMap='monitorResult'/>
     </resultMap>
      <resultMap type='Tema' id='temaResult'>
         <id property='id' column='TemaID'/>
         <result property='name' column='name'/>
     </resultMap>
     <resultMap type= 'Monitoria' id='monitoriaResult'>
        <id property='idC' column='estudiante_id_carnet'/>
        <id property='fecha' column='fecha'/>
        <result property='ip' column='ip' />
        <result property='observaciones' column='observaciones' />
        <result property='grupo' column='grupo'/>
        <result property='profesor' column='profesor'/>
        <result property='asignatura' column='asignatura_id'/>
        <association property='franjaHorario' javaType='Franja' resultMap='franjaResult'/>
        <association property='tema' javaType='Tema' resultMap='temaResult'/>
     </resultMap>
     <resultMap type='Semestre' id='semestreResult'>
         <id property='periodo' column='periodo_Academico'/>
         <result  property='inicio' column='fecha_Inicio'/>
         <result  property='fin' column='fecha_Fin'/>
     </resultMap>
     <resultMap type='Profesor' id='profesorResult'>
         <id property ='id' column='id_Carnet'/>
         <result property='nombre' column='nombre_Prof'/>
         <result property='apellido' column='apellido_Prof'/>
         <result property='telefono' column='telefono'/>
         <result property='correo' column='correo'/>
     </resultMap>
     <resultMap type='Estudiante' id='estudianteResult'>
         <id property='carnet' column='nombre_es'/>
         <result property='nombre' column='nombre_es'/>
         <result property='apellido' column='apellido_es'/>
     </resultMap>
     <select parameterType='map' id='Consultarsemestre' resultMap='semestreResult'>
         select *
         FROM Semestre
         WHERE #{id}=periodo_Academico 
     </select>
     <select parameterType='map' id='consultarProfe' resultMap='profesorResult'>
         select * from Profesor
         WHERE id_carnet=#{idpro}
     </select>
     <select parameterType='map' id='consultarMonitor' resultMap='monitorResult'>
         select * from Monitor
         WHERE id_Carnet=#{carnet}
     </select>
     <select parameterType='map' id='consultarGrupo' resultMap='grupoResult'>
         select * from grupo 
         WHERE numero=#{numero} and Asignatura_id_Asignatura=#{idasig}
     </select>
     <insert id='agregarSemestre'>
         insert into Semestre
         values (#{sem.periodo},#{sem.inicio},#{sem.fin})
     </insert>
     <insert id='agregarAsignatura'>
         insert into Asignatura(id_asignatura,nombre_Asig)
         values (#{asig.id},#{asig.nombre})
     </insert>
     <insert id='agregarGrupo'>
         insert into Grupo(Semestre_periodo_Academico,Asignatura_id_Asignatura,profesor_id_Carnet,numero,matriculados)
         values (#{gru.semestre.periodo},#{gru.asignatura.id},#{gru.profesor.id},#{gru.numero},#{gru.matriculados})
     </insert>
     <insert id='agregarProfesor'>
         insert into Profesor (id_carnet,nombre_prof,apellido_prof,correo,telefono)
         Values(#{pro.id},#{pro.nombre},#{pro.apellido},#{pro.correo},#{pro.telefono})
     </insert>
     <insert id='agregarMonitor'>
         insert into Monitor 
         Values(#{monr.id},#{monr.nombre},#{monr.apellido},#{monr.ingreso},#{monr.telefono},#{monr.carrera})
     </insert>
     <insert id='agregarFranja'>
         insert into Franja_Horario(monitor_id_carnet,Grupo_Asignatura_id_Asignatura,Grupo_numero,dia,inicio,fin)
         values(#{fra.monitor.id},#{fra.asignatura.id},#{fra.grupo.numero},#{fra.dia},#{fra.inicio},#{fra.fin})
     </insert>
     <insert id='agregarTema'>
         insert into Tema(temaID,nombre,asignatura_id_asignatura)
         values(#{tem.id},#{tem.name},#{tem.asignatura.id})
     </insert>
     <insert id='agregarEstudiante'>
         insert into Estudiante
         values (#{estu.carnet},#{estu.nombre},#{estu.apellido})
     </insert>
 </mapper>
 
 