<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="dao.mybatis.mappers.SemestreMapper">
     <resultMap type='Asignatura' id='AsignaturaResult'>
         <id property='id' column='id_Asignatura'/>
         <result property='nombre' column='nombe_Asig'/>
     </resultMap>
     <resultMap type='Grupo' id='grupoResult'>
        <id property='numero' column='numero'/>
        <association property='asignatura' javaType='Asignatura' resultMap='AsignaturaResult'/>
        <association property='profesor' javaType='Profesor' resultMap='profesorResult'/>
        <association property='semestre' javaType='Semestre' resultMap='semestreResult'/>
     </resultMap>
     <resultMap type='Monitor' id='monitorResult'>
         <id property='id' column='id_Carnet'/>
         <result property='nombre' column='nombre_Moni'/>
         <result property='apellido' column='apellido_Moni'/>
         <result property='ingreso' column='semestre_ingreso'/>
         <result property='telefono' column='telefono'/>
         <result property='carrera' column='carrera'/>
     </resultMap>
      <resultMap type='Franja' id='franjaResult'>
        <id property='id' column='id_Franja_Horario'/>
        <result property='fecha' column='fecha' />
        <association property='monitor' javaType='Monitor' resultMap='monitorResult'/>
        <association property='grupo' javaType='Grupo' resultMap='grupoResult'/>
     </resultMap>
     <resultMap type='Observacion' id='observacionResult'>
         <id property='id' column='idobs'/>
         <result property='estudiante' column='id_car'/>
         <result property='observacion' column='observacion'/>
         <association property='monitor' javaType='Monitor' resultMap='monitorResult'/>
     </resultMap>
      <resultMap type='Tema' id='temaResult'>
         <id property='id' column='TemaID'/>
         <result property='name' column='name'/>
         <association property='asignatura' javaType='Asignatura' resultMap='AsignaturaReslut'/>
     </resultMap>
     <resultMap type= 'Monitoria' id='monitoriaResult'>
        <id property='id' column='id_Mon'/>
        <result property='ip' column='ip' />
        <result property='observaciones' column='observaciones' />
        <result property='fecha' column='fecha' />
        <result property='id_carnet' column='id_carnet'/>
        <result property='grupo' column='grupo'/>
        <association property='franja' javaType='Franja' resultMap='franjaResult'/>
     </resultMap>
     <resultMap type='Semestre' id='semestreResult'>
         <id property='periodo' column='periodo_Academico'/>
         <result  property='inicio' column='fecha_Inicio'/>
         <result  property='fin' column='fecha_Fin'/>
     </resultMap>
     <resultMap type='Profesor' id='profesorResult'>
         <id property ='id' column='id_Carnet'/>
         <result property='nombre' column='nombre_Prof'/>
         <result property='apellido' column='apellido_Prof'/>
         <result property='telefono' column='telefono'/>
         <result property='correo' column='correo'/>
     </resultMap>
     <select parameterType='map' id='Consultarsemestre' resultMap='semestreResult'>
         select *
         FROM Semestre 
         WHERE #{id}=periodo_Academico
     </select>
     <insert id='agregarSemestre'>
         insert into Semestre
         values (#{perio},#{ini},#{fin})
     </insert>
     <insert id='agregarAsignatura'>
         insert into Asignatura
         values (#{id},#{nombre})
     </insert>
     <insert id='agregarGrupo'>
         insert into Grupo
         values (#{semeste},#{asignatura},#{profesor},#{num})
     </insert>
     <insert id='agregarProfesor'>
         insert into Profesor 
         Values(#{id},#{nom},#{apell},#{tel},#{mail})
     </insert>
     <insert id='agregarMonitor'>
         insert into Monitor 
         Values(#{carnet},#{nombre},#{apell},#{nom},#{tel},#{carre})
     </insert>
     <insert id='agregarFranja'>
         insert into Franja_Horario
         values(#{idfra},#{idmon},#{#asig},#{grup},#{fecha})
     </insert>
     <insert id='agregarTema'>
         insert into Tema
         values(#{id},#{nom},#{asig})
     </insert>
 </mapper>